@font-face
{
  font-family: "GoT";
  src: url("Game of Thrones.woff") format("woff"),
    url("Game of Thrones.ttf") format("truetype");
}

html
{
  background-color: rgb(6,6,6);
}

body
{
  align-items: center;
  background-image: url("GoT.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #ddd;
  display: flex;
  filter: invert(0.1);
  justify-content: center;
}

#un,
#deux
{
  position: fixed;
  width: 40%;
}

#un
{
  bottom: 40%;
  right: 55%;
}

#deux
{
  top: 40%;
  left: 55%;
}

div > div
{
  margin: 40px 0;
  text-align: center;
  width: 100%;
}

h1
{
  font-family: "GoT";
  font-size: 2em;
}

span
{
  color: #aaa;
  display: block;
  font-size: 2em;
  margin: 5px;
}
